<!DOCTYPE html>

<html style="background-color: rgba(196,201,193, 0.5);">
    <head>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Title -->
        <title>Address Book</title>

        <!-- Styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>
    
    <body >
        <!-- Navbar -->
        <nav class="navbar is-light">
            <div class="navbar-brand">
                <a href="{% url 'homepage' %}" class="navbar-item"><strong>Home</strong></a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">


                    {% if request.user.is_authenticated %}
                        <a href="{% url 'dashboard' %}" class="navbar-item">Dashboard</a> 
                        <a href="{% url 'contact_list' %}" class="navbar-item">My Contacts</a>
                        <a href="{% url 'search' %}" class="navbar-item">Search Tool</a> 
                    {% endif %}
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'logout' %}" class="button is-danger">
                                    <Strong>Logout</Strong>
                                </a>
                            {% else %}
                                <a href="{% url 'signup' %}" class="button is-success">
                                    <Strong>Sign up</Strong>
                                </a>
                                <a href="{% url 'login' %}" class="button is-light">
                                    <Strong>Log in</Strong>
                                </a>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->


        <!-- Main content -->
        <section class="section">
            {% block content %}
            {% endblock %}
        </section>
        <!-- End Main content -->


         <!-- Scripts -->
         <script src="https://unpkg.com/vue@next"></script>
         {% block scripts %}
         {% endblock %}
    </body>

</html>