{% extends 'core/base.html' %}

{% block content %}
    <h2 class="subtitle">Address Book Assignment</h2>

    <div class="columns">
            <div class="column is-6">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Name: Afif Alhorr</b></p>
                                <p class="title is-6">Phone: (+961)76996880</b></p>
                                <p class="title is-6">Email: afifalhorr@gmail.com</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}