  
{% extends 'core/base.html' %}

{% block content %}
    <div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a href="{% url 'contact_create' %}" class="navbar-item">Create Contact</a> 
            </div>
        </div>
        <h1 class="title">My Contacts</h1>
        <table class="table" style = "width: 100%;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for instance in page_obj %}
                    <tr>
                        <th>{{forloop.counter}}</th>
                        <th>{{instance.first_name}}</th>
                        <th>{{instance.last_name}}</th>
                        <th>{{instance.email}}</th>
                        <th><a href="{% url 'contact_detail' instance.id %}">View</a></th>
                    </tr>
                {% empty %}
                    <tr>
                        <th>Nan</th>
                        <th>Nan</th>
                        <th>Nan</th>
                        <th>Nan</th>
                        <th>Nan</th>
                    </tr>
                {% endfor %}
                
            </tbody>
            
        </table>
    </div>

    <!-- {% for contact in page_obj %}
        {# Each "contact" is a Contact model object. #}
        {{ contact.full_name|upper }}<br>
    {% endfor %} -->

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    
{% endblock %}


  