{% extends 'core/base.html' %}

{% block content %}
    <h1 class="title">Dashboard</h1>
    <h2 class="subtitle has-text-centered">Most Recent Contacts</h2>

    <div class="columns">
        {% for contact in contacts %}
            <div class="column is-4">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Name: <b>{{ contact.first_name }} {{ contact.last_name }}</b></p>
                                {% if contact.job_title %}
                                    <p class="title is-6"><b>{{ contact.job_title }}</b></p>
                                {% endif %}
                                {% if contact.company_name %}
                                    <p class="title is-6">Works at <b>{{ contact.company_name }}</b></p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="content">
                            Phone: <b>{{ contact.phone }}</b>
                            <hr>

                            <a href="{% url 'contact_detail' contact.id %}">View</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}