


      
{% extends 'core/base.html' %}

{% block content %}
    <h1 class="title">Update Contact Photo: {{contact.first_name}} {{contact.last_name}}</h1>
    <form method = "POST" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit">Upload</button> 
    </form> 
{% endblock %}
