  
{% extends 'core/base.html' %}

{% block content %}
<div id="create-contact-app">
    <h1 class="title">Create Contact</h1>

    <form v-on:submit="validateForm" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
        {% if form.errors %}
            {% for error in form.errors %}
                <div class="notification is-danger">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="notification is-danger" v-if="errors.length">
            <p v-for="error in errors">
                [[ error ]]
            </p>
        </div>

        <div class="field">
            <label>First Name</label>
            <div class="control">
                <input class="input" type="text" name="first_name" id="id_first_name" v-model="first_name">
            </div>
        </div>
        <div class="field">
            <label>Last Name</label>
            <div class="control">
                <input class="input" type="text" name="last_name" id="id_last_name" v-model="last_name">
            </div>
        </div>
        <div class="field">
            <label>Email</label>
            <div class="control">
                <input class="input" type="email" name="email" id="id_email" v-model="email">
            </div>
        </div>
        <div class="field">
            <label>Phone</label>
            <div class="control">
                <input class="input" type="phone" name="phone" id="id_phone" v-model="phone">
            </div>
        </div>
        <div class="field">
            <label>Job Title</label>
            <div class="control">
                <input class="input" type="text" name="job_title" id="id_job_title" v-model="job_title">
            </div>
        </div>
        <div class="field">
            <label>Company</label>
            <div class="control">
                <input class="input" type="text" name="company_name" id="id_company_name" v-model="company_name">
            </div>
        </div>
        <div class="field">
            <label>Address</label>
            <div class="control">
                <input class="textarea" type="textarea" name="address" id="id_address" v-model="address">
            </div>
        </div>
        <!-- {{form.as_p}} -->
        <div class="field">
            <div class="control">
                <button class="button is-success">Create</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    const CreateContactApp = {
        data() {
            return {
                first_name: '',
                last_name: '',
                email: '',
                phone: '',
                job_title: '',
                company_name: '',
                address: '',
                errors: []
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            validateForm(e) {
                this.errors = []

                if (this.first_name === '') {
                    this.errors.push('First Name is Missing!')
                }

                if (this.last_name === '') {
                    this.errors.push('Last Name is Missing!')
                }

                if (this.email === '') {
                    this.errors.push('Email is Missing!')
                }

                if (this.phone === '') {
                    this.errors.push('Phone is Missing!')
                }

                if (this.job_title === '') {
                    this.errors.push('Job Title is Missing!')
                }

                if (this.company_name === '') {
                    this.errors.push('Company is Missing!')
                }

                if (this.address === '') {
                    this.errors.push('Address is Missing!')
                }

                if (this.errors.length) {
                    e.preventDefault()

                    return false
                } else {
                    return true
                }
            }
        }
    }

    Vue.createApp(CreateContactApp).mount('#create-contact-app');
</script>
{% endblock %}