  
{% extends 'core/base.html' %}

{% block content %}
    <h1 class="title">{{ contact.first_name }} {{ contact.last_name }}</h1>
    <!-- <div class="navbar-menu">
        <div class="navbar-end"> -->
            <a href="{% url 'contact_image_upload' contact.id %}" class="button is-warning mb-4">Photo</a>
            <a href="{% url 'contact_edit' contact.id %}" class="button is-success mb-4">Edit</a>
            <a href="{% url 'contact_delete' contact.id %}" class="button is-danger mb-4">Delete</a>
        <!-- </div>
    </div> -->
    {% if contact.photo %}
    <div class="col-md-4"> 
        <img src="{{ contact.photo.url }}" class="img-responsive" style="width: 12%; float: left; margin-right: 10px;" /> 
    </div>
    {% else %}
    <div class="col-md-4"> 
        <img src="../../../../media/noimage.jpg" class="img-responsive" style="width: 12%; float: left; margin-right: 10px;">
    </div>
    {% endif %}
    
    {% if contact.job_title %}<b>Position: </b>{{ contact.job_title}}<br>{% endif %}
    {% if contact.company_name %}<b>Company: </b>{{ contact.company_name}}<br>{% endif %}
    {% if contact.email %}<b>Email: </b>{{ contact.email}}<br>{% endif %}
    {% if contact.phone %}<b>Phone: </b>{{ contact.phone}}<br>{% endif %}
    {% if contact.address %}<b>Address: </b>{{ contact.address}}<br>{% endif %}
    <hr>

    {% if contact.created_by %}<b>Created By: </b>{{ contact.created_by}}<br>{% endif %}
    {% if contact.created_at %}<b>Created At: </b>{{ contact.created_at}}<br>{% endif %}
    {% if contact.updated_at %}<b>Updated At: </b>{{ contact.updated_at}}<br>{% endif %}
{% endblock %}