{% extends 'core/base.html' %}

{% block content %}
    <div id="search-app">
        <h1 class="title">Search</h1>

        <form @submit.prevent="performSearch()">
            <div class="columns">
                <div class="column is-4">
                    <div class="field">
                        <label>Query</label>

                        <div class="control">
                            <input type="text" name="query" class="input" v-model="query">
                        </div>
                    </div> 

                    <div class="field">
                        <div class="control">
                            <button class="button is-success">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div v-if="contacts.length">
            <hr>

            <div
                v-for="contact in contacts"
                :key="contact.id"
                class="notification mt-2"
            >
                <h3 class="is-size-4">[[ contact.first_name ]] [[ contact.last_name ]]</h3>
                <p>[[ contact.email ]]</p>
                <p>[[ contact.phone ]]</p>
                <p>[[ contact.job_title ]]</p>
                <p>[[ contact.company_name ]]</p>
                <p>[[ contact.address ]]</p>

                <a :href="contact.url">View details</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const SearchApp = {
        data() {
            return {
                query: '',
                contacts: []
            }
        },
        delimiters: ['[[', ']]'],
        methods: {
            performSearch() {
                var data = {
                    'query': this.query
                }

                fetch('/contact/api/search/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify(data)
                })
                .then((response) => {
                    return response.json()
                })
                .then((result) => {
                    console.log(result.contacts)
                    this.contacts = result.contacts
                })
                .catch((error) => {
                    console.log('Error', error)
                })
            }
        }
    }

    Vue.createApp(SearchApp).mount('#search-app')
</script>
{% endblock %}